    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" style="color: black">Autor: Felipe Henrique</a>
            </div>
        </div>

  </nav>





  <!--Header -->
    <header class="intro-header" style="background-image: url('http://www.rubyinside.com/advent2006/wallpaper1920.jpg')">
        <div class="container" style="height: 400px">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading" style="text-align: center;">
                        <h1 >Blog Ruby On Rails</h1>
                        <hr class="small">
                        <span class="subheading">Desenvolvimento em Ruby On Rails</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->



    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title">
                        <%= form_with(model: post, local: true) do |form| %>
                          <% if post.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                              <ul>
                              <% post.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>

                          <div class="field">
                            <%= form.label :titulo %>
                            <%= form.text_field :titulo, id: :post_titulo %>
                          </div>

                          <div class="field">
                            <%= form.label :conteudo %>
                            <%= form.text_area :conteudo, id: :post_conteudo %>
                          </div>

                          <div class="actions">
                            <%= form.submit %>
                          </div>
                        <% end %>
                        </h2>
                     
               </div>
            </div>
         </div>
      </div>


     <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                   </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Felipe Henrique Monteiro da Silveira 2017</p>
                    </div>
                </div>
            </div>
        </footer>
























